[Unit]
Description=Echo Vault
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
WorkingDirectory=/path/to/echo-vault
ExecStart=/path/to/echo-vault/echo_vault
StandardOutput=append:/var/log/echo_vault.log
StandardError=append:/var/log/echo_vault.log

[Install]
WantedBy=multi-user.target
