[Unit]
Description=Echo Vault (/var/echo-vault)
After=network-online.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
User=echo-vault
Group=echo-vault

WorkingDirectory=/var/echo-vault
ExecStart=/var/echo-vault/echo-vault

StandardOutput=append:/var/echo-vault/echo-vault.log
StandardError=append:/var/echo-vault/echo-vault.log

# Filesystem Sandboxing
ProtectSystem=strict
ReadWritePaths=/var/echo-vault
ProtectHome=yes
PrivateTmp=yes
UMask=0022
RestrictSUIDSGID=true

# Kernel & Hardware Protection
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
SystemCallArchitectures=native

# Process & Identity Isolation
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
ProtectHostname=yes
NoNewPrivileges=yes
RestrictNamespaces=yes
RemoveIPC=yes
RestrictRealtime=yes

# Capabilities & Syscalls
CapabilityBoundingSet=
SystemCallFilter=~@clock @cpu-emulation @debug @module @mount @obsolete @reboot @swap @raw-io @privileged

# Network Restriction
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

Restart=always
RestartSec=3
RuntimeMaxSec=5d

[Install]
WantedBy=multi-user.target